runConfig = [
        baseFolder : "."
        localeConfigs : [
            [
                lang : "de",
                imageServerUrl : "http://media.example.de",
                imageReplacements : [
                        [key : ".lang", value : "de"],
                        [key : "imageServerUrl", value : "http://media.example.de"],
                        [key : "mailHelper.imagepath", value : "http://media.example.de/example/img/systemmails"],
                        [key : "rc.contextPath", value : "/example"]
                ]
            ]
        ]
    ]